[submodule "pelican/html5up-striped"]
	path = pelican/html5up-striped
	url = git@github.com:andreynovikov/pelican-html5up-striped.git
[submodule "pelican/plugins"]
	path = pelican/plugins
	url = git@github.com:getpelican/pelican-plugins.git
